
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}
.main {
	flex: 1 1 auto;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
.header {
	width: 100%;
	height: 75px;
	background-color: #222222;
	/*padding-top: 18px;
	padding-bottom: 18px;*/
	position: fixed;
	z-index: 100;
	align-items: center;
}
.flex-center {
	display: flex;
	justify-content: space-between;
}

.header__part {
	align-items: center;
}
.search-submit {
	background: #222222;
}
.search-input {
	width: 300px;
	height: 28px;
	border-radius: 14px;
	border: 1px solid #e6e6e6;
	background: #222222;
	color: #e6e6e6;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
}
.header__search {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.search-submit:hover + .search-input{
	display: inline-block;
}
.search-input:hover,
.search-input:focus-visible {
	display: inline-block;
}

.header__cart {
	position: relative;
}
.header__cart::after {
	content: "5";
	width: 19px;
	height: 19px;
	border-radius: 9.5px;
	background-color: #F16D7F;
	position: absolute;
	top: 12px;
	left: 40px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
}
.header-link {
	display: block;
	padding: 18.5px;;
}

.header__menu {
	position: relative;
}
/*---------------Менюшка--------------*/
.mega-box {
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	padding: 20px;
	position: absolute;
	z-index: 20;
	top: 60px;
	left: -203px;
	display: none;
}
.mega-heading {
	text-align: right;
	color: #F16D7F;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 32px;
	border-bottom: 1px solid #e8e8e8;
	width: 235px;
	margin-bottom: 16px;
	margin-top: 16px;

}
.mega-link {
	text-align: right;
	display: block;
	color: #646464;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}
.mega-link:hover {
	background-color: #e7e6e6;
}

.mega-box::before {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #fff;
	top: -5px;
	right: 33px;
	transform: rotate(45deg);
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.header__menu:hover .mega-box{
	display: block;
}
/*--------------------main---------*/
.brand {
	background-color: #F1E4E6;
	height: 764px;
	margin-top: 75px;
}
.brand__content {
	padding-top: 290px;
	width: 400px;
	position: relative;
}
.brand__content::after {
	content: "";
	display: block;
	width: 12px;
	height: 92px;
	background-color: #F16D7F;
	position: absolute;
	top: 292px;
	left: -20px;
	z-index: 9;
}
.brand__title {
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
}
.brand__subtitle {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
.brand__subtitle_red {
	color: #F16D7F;
}

/*---------Темные карточки----------*/
.categories {
	background-color: #E5E5E5;
	padding-top: 65px;
	padding-bottom: 96px;
}
.category {
	display: flex;
	gap: 30px;
}
.category-card {
	max-width: 360px;
	max-height: 260px;
	z-index: 2;
	margin-bottom: 30px;
	position: relative;
	filter: brightness(38%);
}

.category-card__subtitle {
	font-size: 16px;
	font-weight: 400;
	color: white;
	
}
.category-card__title {
	font-size: 24px;
	font-weight: 700;
	color: #F16D7F;
}
.category-card__content {
	width: 360px;
	position: absolute;
	z-index: 10;
	text-align: center;
	top: 105px;
}
.category-card__fullwidth {
	max-width: 1140px;
	height: 180px;
	*z-index: 1;
	position: relative;
	filter: brightness(30%);
}
.bigcard__content {
	width: 1140px;
	position: absolute;
	z-index: 10;
	text-align: center;
	top: 65px;
}
/*---------------Заголовок Каталога----------------*/
.featured-items {
	background-color: #E5E5E5;
	padding-bottom: 95px;
}
.featured-items__title {
	font-size: 30px;
	font-weight: 400;
	color: #222222;
}
.featured-items__text {
	font-size: 14px;
	font-weight: 400;
	color: #9F9F9F;
}
.featured-items__content {
	margin: 0 auto 48px;
	text-align: center;
}
/*-------------Карточка----------*/
.item-heading {
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	padding-bottom: 13px;
}
.item-descrip {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}
.item-price {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
	padding-top: 18px;
}
.txt-box {
	padding: 25px 18px 20px;
}
.item-pic {
	width: 360px;
	height: 420px;
}
.item-link {
	width: 360px;
	display: block;
	background-color: #F8F8F8;
}
.item {
	width: 360px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.item:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	transition: all 0.3s ease-in-out;
}
.item:hover .item-pic {
	filter: brightness(30%);
	transition: all 0.3s ease-in-out;
}
.item:hover .add-box {
	opacity: 100%;
	
}
.add {
	display: flex;
	padding: 13px;
	align-items: center;
	border: 1px solid #fff;
	pointer-events: auto;
}
.add-box {
	display: flex;
	position: absolute;
	top: 118px;
	justify-content: center;
	width: 100%;
	pointer-events: none;
	opacity: 0;
	
}
.add-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	padding-left: 11px;
}
.add:hover {
	box-shadow: 0 0 10px #fff;
	transition: all 0.3s ease-in-out;
}
.item-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

/*-----------Кнопка--------------*/
.browse-btn__btn {
	padding: 14.5px 38.5px 13.5px;
	border: 1px solid #FF6A6A;
	background-color: #E5E5E5;
	color: #FF6A6A;
	margin-top: 48px;
	transition: all 0.3s ease-in-out;
}
.browse-btn__btn:hover {
	background-color: #F16D7F;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}
.browse-btn {
	display: flex;
	justify-content: center;
}
/*----------преимущества----------*/
.preference {
	padding-top: 104px;
	padding-bottom: 104px;
	background-color: #222224;
	min-height: 340px;
}
.preference__list {
	align-items: flex-end;
	justify-content: space-around;
}
.preference-card {
	width: 320px;
	text-align: center;

}
.preference__title {
	font-size: 20px;
	color: #FBFBFB;
	margin-top: 28px;
	margin-bottom: 16px;
}
.preference__text {
	font-size: 14px;
	color: #F8F8F8;
}
/*--------Тетка с кнопкой-----------*/
.subscribe {
	height: 448px;
	position: relative;
	z-index: 1;
}
.subscribe::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	opacity: 0.7; 
	z-index: -1;
	background: url(img/Layer\ 41.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.subscribe-woman {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.subscribe-woman__img {
	width: 96px;
	height: 96px;
	border-radius: 48px;
	background-color: #565658;
	background-image: url(img/ellipse_3_2206.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow: hidden;
	margin-top: 97px;
	margin-bottom: 30px;
}
.subscribe-woman__text {
	width: 360px;
	text-align: center;
}
.subscribe-woman__quote {
	font-size: 20px;
	color: #222224;
}
.subscribe-woman__quote span {
	font-style: italic;
}
.subscribe-form {
	margin-right: 96px;
}
.subscribe-form__description {
	text-align: center;
}
.subscribe-form__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.67;
	color: #222224;
	margin-top: 150px;
}
.subscribe-form__text {
	font-size: 18px;
	color: #222224;
	line-height: 1.67;
	margin-bottom: 32px;
}
.subscribe-form__field {
	width: 256px;
	height: 50px;
	border-radius: 25px 0 0 25px;
	background-color: #E1E1E1;
	padding-left: 22px;
	overflow: hidden;
	font-size: 14px;
	color: #222224;
}
.subscribe-form__btn {
	width: 100px;
	height: 50px;
	border-radius: 0 25px 25px 0;
	background-color: #F16D7F;
	color: white;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}
.subscribe-form__btn:hover {
	background-color: #E05C6E;
	transition: all 0.3s ease-in-out;
}
/*--------Footer-----------*/
.footer {
	background-color: #222224;
	height: 80px;
	padding-top: 24px;
}
.footer-text__text {
	color: #FBFBFB;
	margin-top: 6px;
}
.footer-social__list {
	display: flex;
	gap: 7.29px;
}
.footer-social__link {
	display: block;
	width: 31.45px;
	height: 32px;
	background-color: white;
	display: flex;
	align-items: center;
	color: #000;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}
.footer-social__link:hover {
	background-color: #F16D7F;
	color: #E5E5E5;
	transition: all 0.3s ease-in-out;
}
/*@media (max-width: 1170px) {
	.container {
		max-width: 970px;
		padding-left: 16px;
		padding-right: 16px;
	}
	/*.category-card {
		max-width: 232px;
		max-height: 167px;
	}
	.category-card__content {
		width: 232px;
	}
}
/*----------------Tablet-------------*/
/*@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
	.brand {
		height: 368px;
	}
	.brand-image__image {
		/*height: ;
	}
}*/
/*-----------Iphone--------------*/
/*@media (max-width: 375px) {
	.container {
		max-width: 343px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.category {
		gap: 19px;
	}
}*/
/*----------------страница продукта----------------*/
.product-title {
	background-color: #F8F3F4;
	height: 223px;	
}
.product-title__title {
	font-size: 24px;
	font-weight: 400;
	color:#F16D7F;
}

.product-title__link {
	display: inline;
	font-size: 14px;
	font-weight: 300;
	color:#6F6E6E;
}
.product-title__link:last-child {
	font-weight: 700;
	color:#F16D7F;
}
.product-title-header {
	padding-top: 135px;
}
.product-image {
	position: relative;
	z-index: 1;
}
.product-image__image {
	background-color: #F7F7F7;
	text-align: center;
}
.image__arrow {
	width: 47px;
	height: 47px;
	background-color: #9F9F9F;
	text-align: center;
	padding-top: 12.65px;
	position: absolute;
	top: 365px;
	transition: all 0.3s ease-in-out;
}
.image__arrow:first-child {
	left: 0;
}
.image__arrow:last-child {
	right: 0;
}
.image__arrow:hover {
	color: #F16D7F;
	transition: all 0.3s ease-in-out;
}
.product-and-catalog {
	/*height: 1375px;*/
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.product-card {
	width: 1140px;
	height: 600px;
	color: white;
	border: 1px solid #EAEAEA;
	position: relative;
	top: -170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	margin-top: 130px;
}
.product-card__subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #F16D7F;
	text-transform: uppercase;
	margin-top: 64px;
	margin-bottom: 12px;
}
.product-card__hr {
	width: 63px;
	height: 3px;
	color: #F16D7F;
	
}
.product-card__title {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
	text-transform: uppercase;
	margin-top: 12px;
	margin-bottom: 48px;
}
.product-card__description {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #5E5E5E;
	width: 555px;
}
.product-card__cost {
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F;
	text-transform: uppercase;
	margin-top: 32px;
	margin-bottom: 68px;
}
.product-card__hr_grey {
	width: 640px;
	height: 1px;
	color: #EAEAEA;
}
.choose {
	display: flex;
}
.choose-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
	margin-left: 23px;
}

.product-card__btn {
	width: 211px;
	height: 47px;
	border: 1px solid #FF6A6A;
	display: flex;
	gap: 23px;
	align-items: center;
	margin-top: 48px;
	padding-left: 23.5px;
	transition: all 0.3s ease-in-out;
}
.product-card-btn__text {
	font-size: 16px;
	color: #EF5B70;
}